
/*
font-family: 'Roboto', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --c_background: rgb(29, 29, 43);
    --c_segment:rgb(87, 87, 90);
    --c_download:rgb(77, 77, 223);
}

html {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;

    background-color: var(--c_background);
    color: white;


}

a:-webkit-any-link {
    text-decoration: none;
}

#segment-holder {
    position: relative;
    display: flex;
    flex-flow: row;

    justify-content: center;

    width: 100%;
    margin: auto;
}


.segment {
    position: relative;
    display: flex;
    
    flex-direction: column;
    margin: 2em 1em;
    padding: 2em;
    
    height: fit-content;
    width: 35%;

    background-color: var(--c_segment);
    border-radius: 1em;
}

.segment-title {
    position: relative;
    display: block;
    
    margin: 0.5em auto;
    padding: 0.2em 0.4em;
    font-size: 2em;
    width: fit-content;

    background-color: var(--c_background);
    color: white;
    border-radius: 0.4em;
}

.segment-description
{
    position: relative;
    display: block;


    padding: 2em 1em;
    margin: 2em 0;

    width: fit-content;
    height: auto;


    background-color: var(--c_background);
    color: rgba(221, 221, 221, 0.95);
    border-radius: 0.2em;
}

.segment-info
{
    position: relative;
    display: block;

    padding: 1em;
    margin: 0.4em 0;

    width: auto;
    height: auto;

    font-weight: 400;

    background-color: var(--c_background);
    color: rgba(255, 255, 255, 0.82);
    border-radius: 0.2em;
}
.sub-title
{
    color: rgb(255, 255, 255, 0.9);
    font-weight: 500;
    text-align: center;
}

.screenshot-small {
    max-width: 80%;
    margin: auto;
    outline: 2px black solid;
    border-radius: 0.2em;
}



.no-margin {
    margin: auto;
    padding: 0;
}
.dl-desc {
    color: rgb(191, 195, 214);
}

#ads-container {
    position: relative;
    display: flex;

    flex-flow: column;
    gap: 0;
    line-height: 0;
    padding: 0;

    align-items: center;
    justify-content: center;
    align-content: center;

    width: auto;
    margin: 1em auto;
    overflow: hidden;
}

.ads-holder {
    position: relative;
    display: flex;

    gap: 2px;
    line-height: 0;
    padding: 2px;

    flex-flow: row;
    align-items: center;
    justify-content: center;
    align-content: center;

    width: auto;
    overflow: hidden;
}

#download-button {
    position: relative;
    display: block;

    text-align: center;
    text-decoration: none;

    padding: 1em 2em;
    margin: 2em;

    width: fit-content;
    height: auto;


    background-color: var(--c_download);
    color: white;
    border-radius: 0.2em;
}



.indieads {
    outline: 2px white solid;
    width: 30%;
}




.emgithub-file {
    padding-top: 0 !important;
    margin: 0 !important;
}


.docs-container {
    position: relative;
    margin: 0;
}

.docs-buttons {
    position: absolute;
    display: block;

    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.docs-button {
    outline: none;
    border: none;
    margin: 0;
    padding: 0.3em 0.4em;

    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1em;


    background-color: rgba(43, 43, 110, 0.8);
    color: white;
    border-radius: 0.2em;
}



@media (max-width: 1000px) {
    .segment {
        width: 60%;
    }
    #segment-holder {
        flex-flow: column;
        align-items: center;
    }
}




@media (max-width: 600px) {
    .segment {
        width: 92%;
    }
    #segment-holder {
        flex-flow: column;
        align-items: center;
    }
}















